{% load form_tags %}
{% if is_checkbox %}
  <div class="form-check mb-3">
    {{ field|bootstrapify }}
    <label class="form-check-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
    {% if field.help_text %}<div class="form-text">{{ field.help_text }}</div>{% endif %}
    {% for error in field.errors %}<div class="invalid-feedback d-block">{{ error }}</div>{% endfor %}
  </div>
{% else %}
  <div class="mb-3">
    <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
    {{ field|bootstrapify }}
    {% if field.help_text %}<div class="form-text">{{ field.help_text }}</div>{% endif %}
    {% for error in field.errors %}<div class="invalid-feedback d-block">{{ error }}</div>{% endfor %}
  </div>
{% endif %}
